@using Microsoft.Extensions.Localization
@using webempty.Resources
@using webempty.ViewModels.Products
@model IEnumerable<GetProductListViewModel>
@inject IStringLocalizer<SharedResources> _sharedResources;

<table class="table table-striped">
    <thead>
        <tr>
            <td>@_sharedResources[SharedResourcesKeys.Id]</td>
            <td>@_sharedResources[SharedResourcesKeys.Name]</td>
            <td>@_sharedResources[SharedResourcesKeys.Price]</td>
            <td>Image</td>
            <td>Details</td>
            <td>Update</td>
        </tr>
    </thead>
    <tbody id="productList">
        @if (Model == null || !Model.Any())
        {
            <tr>
                <td colspan="6">No products found.</td>
            </tr>
        }
        else
        {
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(m => item.Id)</td>
                    <td>@Html.DisplayFor(m => item.Name)</td>
                    <td>@Html.DisplayFor(m => item.Price)</td>
                    <td>
                        <a asp-action="Details" asp-controller="Product" asp-route-id="@item.Id" class="btn btn-primary">Details</a>
                    </td>
                    <td>
                        <a asp-action="Update" asp-controller="Product" asp-route-id="@item.Id" class="btn btn-primary">Update</a>
                    </td>
                    <td>
                        <a asp-action="Delete" asp-controller="Product" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            }
        }
    </tbody>

</table>
